<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OSOS Articles</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="OSOS technologies, OSOSweb, OSOS Pvt. Ltd., OSOS Private Limited,  OSOS, Social Media, Blogs, Articles, We are hiring, Hiring, Hiring now, Jobs for freshers, Freshers, Hiring android developers, android, android developers, hiring ios app developers, ios app developers, ios, angular, node js, DevOps, AWS, Hyderabad, Social Networking, Careers, Hire, Work with us, SpaarksBytes, Banjara Hills, Jobs in Hyderabad, jobs, technology.">
<style>
@import '~quill/dist/quill.core.css'; 
@import '~quill/dist/quill.bubble.css';
 @import '~quill/dist/quill.snow.css';


</style>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet"> 
  <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/img/log2.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/css-style.css" />
    <script
      type="text/javascript"
      src="https://platform-api.sharethis.com/js/sharethis.js#property=5e12d561d382bc001285df99&product=inline-share-buttons&cms=sop"
      async="async"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      /* Add a gray background color with some padding */
      body {
        background-color: #cdfcd2;
        overflow-x: inherit !important;
      }
      /* Header/Blog Title */
      .header {
        padding: 5px;
        font-size: 40px;
        text-align: center;
        margin-left: 10px;
        background: #89F493;
      }

      /* Create two unequal columns that floats next to each other */
      /* Left column */
      /* Left column */
      .leftcolumn {
        float: left;
        width: 25%;
        padding-left: 2%;
      }

      /* Right column */
      .rightcolumn {
        float: right;
        width:75%;
        padding-left: 20px;
      }

      /* Fake image */
      .fakeimg {
        background-color: #aaa;
        width: 100%;
        padding: 20px;
      }
      .img {
        background-color: #aaa;
        width: 70%;
        height: 140%;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
      }

      /* Add a card effect for articles */
      .card {
         background-color: white;
         padding: 20px;
         margin-top: 20px;
         margin-right:20px;
          box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.01),
          -5px -5px 30px 15px rgba(0,0,0,0.02);

      }
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* .description {
        margin: 1rem;
        letter-spacing: 1px;
        line-height: 2rem;
        font-size: 1rem;

      } */

      

      p{
        margin-bottom: 40px;
      }

      /* Footer */
      .footer {
        text-align: center;
        background: #666666;
        color: white;
    }
      .center {
        text-align: center;
      }

      .pagination {
        display: inline-block;
      }

      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
      }

      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
      }

      .pagination a:hover:not(.active) {background-color: #ddd;}
      /* .article-title{
        font-size:2 rem;
        font-weight: 500;
        
        
        
      } */
      .author{
        font-size: 1.3rem;
      }
      /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 800px) {
        .leftcolumn, .rightcolumn{
          width: 100%;
          padding: 0;
          transform: translate(7%, 0%);
        }
        .img {
       
        width: 100%;
        height: 140%;
       
      }
        .pages{
          transform: translate(3%, 0%);
        }
        .nav-item:hover {
    border-radius: 1.5vw;
  }
  .navbar-brand img {
    width: 25vh;
    height: 10vh;
    margin-right: 12%;
  }
  .navbar {
    border-radius: 0px 0px 30px 30px;
  }
   #web{
     display: none;
   }
   #mobile{
    transform: translate(3%, 0%);
    margin-bottom: 5%;
       }
       .description{
         margin: 0.5rem;
         overflow-y: hidden;
       }

      
       .author{
         font-size: 0.5rem;;
       }
       
        }

   @media screen and (min-width: 800px) {
     #mobile{
       display:none;
     }
   }
    </style>

    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
    
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();
    
          // Store hash
          var hash = this.hash;
    
          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){
       
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
    </script>
      <meta property="og:url"           content="http://www.ososweb.com/blogs/<%= id %>" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="<%=articles[0].Name %>" />
      <meta property="og:description"   content="<%=articles[0].Info %>" />
      <meta property="og:image"         content="http://www.ososweb.com/<%=articles[0].Image %>" />
  </head>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-light" >
      <!-- Brand -->
      <a class="navbar-brand" href="/"
        ><img src="/ososicon.png" alt="Logo"
      /></a>

      <!-- Toggler/collapsibe Button -->
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- <div class="animated-icon1">
          <span></span><span></span><span></span>
        </div> -->
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs/1">SpaarksBytes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/social">Social</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/career">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end of navbar -->
  <body>
    <div class="row">
        <div id="web" class="leftcolumn">
            <div class="card">
              <div style="font-size: 1.5rem; font-weight:250;">Latest SpaarksBytes</div>
              <%for(var i=0;i<full.length;i++){ %>
              <a style="text-decoration: none; color:#666666" href="<%=i+1%>"><div class="fakeimg" style="background: #89F493;"><%=full[i].Name %></div></a>
              <br />
              <% } %> 
            </div>
          </div>
          <div class="rightcolumn">
       
        <div class="card">
          <!-- <div class="sharethis-inline-share-buttons"></div> -->
          <div  class="article-title" style=" font-size:35px;font-weight: 500;margin-bottom: 20px;line-height: 2.5rem;overflow-y: hidden;"><%=articles[0].Name %></div>
          <div class="author" ><%=articles[0].Date %></div>
          <!-- <center>
            <img class="img mb-3" src="/<%=articles[0].Image %>" />
          </center> -->
          <div class="description" style="overflow-x: initial;">
            <%-articles[0].data%>
                </div>
             
                
                <div style="text-align: center;">************</div><br>
                <div style="text-align: center;"><i>If you thought that the article was constructive then Stay Tuned Folks.  Do check out our social media handle for more.</i></div>
                <div class="sharethis-inline-share-buttons"></div> 
        </div>
        </div>
</div>
    </div>
    <div id="mobile" class="leftcolumn">
      <div class="card">
        <div style="font-size: 2rem; font-weight:500;">Latest Posts</div>
        <% var array=[1,1,2,2,3]; for(var i=0;i<full.length;i++){  %>
        <a style="text-decoration: none; color:#666666" href="<%=array[i]%>"><div class="fakeimg" style="background: #89F493;"><%=full[i].Name %></div></a>
        <br />
        <% } %> 
      </div>
    </div>
    <div class="card pages">
      <div class="center">
        <div class="pagination">
          <a href="/blogs/1">&laquo;</a>
          <% for(var i=1;i<no;i++){ %>
          <a href="<%=i%>"><%=i%></a>
          <% } %> 
          <a href="<%=no%>">&raquo;</a>
        </div>
      </div>
    </div>
<!-- social icons -->


    <p class="text-center copyright">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved . OSOS PVT LTD.
      </p>
    </body>
    <script>
      $(document).ready(function() {
        $(".first-button").on("click", function() {
          $(".animated-icon1").toggleClass("open");
        });
      });
    </script>
    <script>                                                       
      document.querySelectorAll("pre.ql-syntax").forEach(block => { 
          hljs.highlightBlock(block);                               
      })                                                            
     </script>   
     
  </html>
  