<!DOCTYPE html>
<html lang="en">
<head>
  <title>Team Members</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="OSOS technologies, OSOSweb, OSOS Pvt. Ltd., OSOS Private Limited,  OSOS, Social Media, Blogs, Articles, We are hiring, Hiring, Hiring now, Jobs for freshers, Freshers, Hiring android developers, android, android developers, hiring ios app developers, ios app developers, ios, angular, node js, DevOps, AWS, Hyderabad, Social Networking, Careers, Hire, Work with us, SpaarksBytes, Banjara Hills, Jobs in Hyderabad, jobs, technology.">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="icon" href="/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/carousel.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/mobile.css"> 
  <style>
      .article .card{
          background: transparent;
          padding: 2vw 0;
          border: none;
      }
      .article .card-img-top{
          border-radius: 100%;
          height: 12vw;
      }
      .article .card-img-top:hover{
          transform: scale(1.2);
      }
      .article .memInfo{
          font-size: 1vw;
      }
  </style>
</head>
<body style="background: <%= colors.teamcolor %>">
            <!-- navbar -->
    <nav class="navbar navbar-expand-md " style="z-index: 100000;background: <%= colors.navcolor %>;">
        <!-- Brand -->
            <a class="navbar-brand" href="/"><img src="/logo.png" alt="" style="width:4vw;transform:scale(3.5);margin-left: 3vw;"></a>
            
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span><i class="fa fa-align-justify" aria-hidden="true"></i>
            </button>
            
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team" style=" background: #B68DC4;color:white;border-radius:3vw">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/articles">Articles</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Social</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Careers</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
    </nav>
        <!-- end of navbar -->
    <p style="text-align: center;font-size: 3vw;"><u>OUR TEAM</u></p>
    <div class="row mx-2">
        <div class="col-lg-8">
            <p style="font-size:2vw;">OUR MOTTO</p>
            <p style="font-size:1.5vw;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. </p>
        </div>
        <div class="col-lg-4">
            <p style="font-size: 1.8vw;font-weight: 500;">" Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text"</p>
        </div>
    </div>
    <div class="container mt-5 article">
        <div class="row">
            <% for(var i=0;i<members.length;i++){ %>
            <div class="col-lg-6 col-6 col-sm-6">
                    <div class="card" style="">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <img class="card-img-top" src="<%= members[i].Image %>" alt="Card image" style="">
                                <!-- <div class="icons">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>     
                                    <i class="fa fa-envelope" aria-hidden="true"></i>   
                                </div> -->
                            </div>
                            <div class="col-lg-7 teamdet">
                                    <h5><%= members[i].Name %></h5> 
                                    <p style="color: rgba(128, 128, 128, 0.671);"><%= members[i].Position %></p>
                                    <p style="color: #2c2b2b;" class="memInfo">
                                            <%= members[i].About %>                                                
                                    </p>   
                            </div>
                        </div>                   
                    </div>                    
            </div>
            <% }%>    
        </div>            
    </div>
</body>
</html>